body {
	padding: 60px 0 40px 0; /* 60px to make the container go all the way to the bottom of the topbar */
}

table {
	border: solid 1px #000000;
	margin: 2px;
}

table tr {
	border: solid 1px #000000;
	padding: 4px;
	margin: 2px;
}

table tr th {
	border: solid 1px #000000;
	padding: 4px;
	margin: 2px;
}

table tr td {
	border: solid 1px #000000;
	padding: 4px;
	margin: 2px;
}